language: python
sudo: false
python:
  - 2.7
  - 3.6

notifications:
  email:
    on_success: never
    on_failure: change

addons:
  apt:
    packages:
      - liblapack-dev
      - python-h5py
      - libhdf5-serial-dev
      - hdf5-tools

before_install:
 - travis_retry wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
 - chmod +x miniconda.sh
 - bash miniconda.sh -b -p $HOME/miniconda
 - export PATH=/home/travis/miniconda/bin:$PATH
 - conda update --yes conda

install:
  - conda create --yes -n test python=$TRAVIS_PYTHON_VERSION
  - source activate test
  - pip install -U pip six wheel setuptools
  - python setup.py install

script:
  - python -m unittest discover
